

.lsttitulo {

    background-color: D90429;
    font-family: Arial;
    font-weight: bold;
    color:edf2f4;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}

table{

    width: 100%
}

.tr1{
    
    background-color: 2b2d42;
    color: edf2f4;
    font-weight: bold;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.tr2{

    background-color: edf2f4;
    color: 2b2d42;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2b2d42;
}

main{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2b2d42;
}

body{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2b2d42;

}

aside{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2b2d42;

}
    

.títuloBLOG {

background-color: d90429;
color: #2b2d42;
font-size: 60px;


}

.caixa-menuprincipal{

    background-color: #edf2f4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    
}

